.hide-sm{
    @media only screen and (max-width:580px){
        display: none !important;
    }
}
.show-md{
   display: none;
   @media only screen and (max-width:991px){
    display: block !important;
} 
}
.text-primary{
    color: $primary !important;
}
.text-danger{
    color: red !important;
}
.text-yellow{
    color: rgb(201, 201, 5) !important;
}
.ellipsis-3{
    color: $dark-blue;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px !important;
}
.page-title{
    color: #172b4c;
    font-size: 15px;
    font-weight: 500;
}