.small-table{
    thead tr{
        background-color: rgba($secondry,0.1);
        th{
            border: 1px solid $light-skin !important;
            font-size: 14px;
            font-weight: 500;
            color: $secondry;
        }
    }
    tbody{
        tr td{
            border: 1px solid $light-skin !important;
            font-size: 14px;
        }
    }
}