.f-40 {
  font-size: 40px; }

.f-30 {
  font-size: 30px; }

.f-20 {
  font-size: 20px; }

.f-16 {
  font-size: 16px; }

.f-14 {
  font-size: 14px; }

.f-12 {
  font-size: 12px; }

.f-10 {
  font-size: 10px; }

.w-400 {
  font-weight: 400; }

.w-500 {
  font-weight: 500; }

.w-600 {
  font-weight: 600; }

.w-700 {
  font-weight: 700; }

.w-800 {
  font-weight: 800; }

@media only screen and (max-width: 580px) {
  .hide-sm {
    display: none !important; } }

.show-md {
  display: none; }
  @media only screen and (max-width: 991px) {
    .show-md {
      display: block !important; } }

.text-primary {
  color: #31d4f0 !important; }

.text-danger {
  color: red !important; }

.text-yellow {
  color: #c9c905 !important; }

body {
  font-family: "Poppins", sans-serif; }

.theme {
  background-color: #f6f6f6;
  display: flex;
  height: 100vh;
  overflow-y: hidden; }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.sidebar {
  background-color: white !important;
  border-radius: 10px;
  padding: 15px 0px; }
  .sidebar .sidebar-header {
    padding: 0px 15px 15px 15px; }
    .sidebar .sidebar-header .logo-lg {
      height: 40px;
      width: auto; }
    .sidebar .sidebar-header .logo-sm {
      display: none; }
  .sidebar .menu-item {
    margin-bottom: 5px !important; }
  .sidebar .menu .menu-item a {
    color: #5c607b !important; }
  .sidebar .menu .menu-item a .menu-icon {
    color: #5c607b !important;
    cursor: pointer; }
  .sidebar .menu .menu-item a:hover .menu-title {
    color: #0963ce; }
  .sidebar .menu .menu-item a .menu-icon svg .path-dark {
    fill: #5c607b; }
  .sidebar .menu .menu-item a .menu-icon svg .path-light {
    fill: #cecfd7; }
  .sidebar .menu .menu-item a:hover .menu-icon svg .path-dark {
    fill: #0963ce !important; }
  .sidebar .menu .menu-item a:hover .menu-icon svg .path-light {
    fill: #0962ce8e !important; }
  .sidebar .menu .menu-item a:hover::after {
    border-color: #0963ce !important; }
  .sidebar .menu-heading {
    padding: 0px 20px 15px 20px;
    font-weight: 400;
    color: #172b4c;
    opacity: 1; }
  .sidebar .active-menu .menu-title {
    color: #0963ce; }
  .sidebar .active-menu .menu-icon svg .path-dark {
    fill: #0963ce !important; }
  .sidebar .active-menu .menu-icon svg .path-light {
    fill: #0962ce8e !important; }
  .sidebar .sidebar-layout .sidebar-content::-webkit-scrollbar {
    width: 5px; }
  .sidebar .sidebar-layout .sidebar-content::-webkit-scrollbar-track {
    background-color: transparent !important; }
  .sidebar .sidebar-layout .sidebar-content::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px; }
  .sidebar .user-account {
    display: flex;
    align-items: center;
    padding: 10px 15px !important;
    border: 1px solid #f3f6f9 !important;
    margin: 18px 20px !important;
    border-radius: 10px; }

.profile-dropdown {
  position: relative !important; }
  .profile-dropdown .dropdown-toggle h3 {
    color: #172b4c;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 1.5; }
  .profile-dropdown .dropdown-toggle p {
    color: #172b4c;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.5; }
  .profile-dropdown .dropdown-toggle::after {
    margin-left: 20px !important; }
  .profile-dropdown .dropdown-menu {
    position: absolute !important;
    inset: 3px 30px auto -10px !important;
    right: 0px !important;
    border: 1px solid #f3f6f9 !important; }
    .profile-dropdown .dropdown-menu li:not(:last-child) {
      margin-bottom: 7px; }

.sidebar.collapsed {
  padding-top: 10px !important; }
  .sidebar.collapsed .sidebar-header {
    padding-bottom: 10px !important; }

.sidebar.collapsed .menu-heading-div {
  padding: 0px !important;
  border: none !important;
  height: 0px !important;
  display: none;
  padding: 0px 0px !important; }

.sidebar.collapsed .user-account {
  display: none !important; }

.sidebar.collapsed .logo-lg {
  display: none; }

.sidebar.collapsed .logo-sm {
  display: block !important;
  height: 50px !important; }

.sidebar.collapsed .sub-menu-list {
  background-color: #ffffff !important;
  box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0.1) !important;
  padding-left: 0px !important; }
  .sidebar.collapsed .sub-menu-list .menu-item {
    margin-bottom: 0px !important; }

.header {
  margin-bottom: 0;
  margin-left: 0;
  min-height: 80px;
  border-radius: 10px;
  border-bottom: 0px solid #efeffd;
  padding: 0px 20px;
  box-shadow: none;
  background-color: #ffffff; }
  @media only screen and (max-width: 991px) {
    .header {
      border-radius: 0px;
      min-height: 60px;
      padding: 0 14px; } }
  .header .header-option {
    height: 45px;
    width: 45px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    cursor: pointer; }
    .header .header-option svg .path-1,
    .header .header-option svg .path-2 {
      fill: #0963ce; }
    .header .header-option svg .path-3,
    .header .header-option svg .path-4 {
      fill: #0962ce8e; }
    .header .header-option:hover {
      background-color: #0963ce; }
      .header .header-option:hover svg .path-1,
      .header .header-option:hover svg .path-2 {
        fill: white; }
      .header .header-option:hover svg .path-3,
      .header .header-option:hover svg .path-4 {
        fill: #cdd7e65b !important; }

@media only screen and (max-width: 991px) {
  .mobile-logo {
    height: 35px; } }

.notification-dropdown-div {
  position: relative !important; }
  .notification-dropdown-div button {
    background-color: transparent;
    border: none;
    position: relative; }
  .notification-dropdown-div:hover .notification-dropdown-inner {
    display: block; }
  .notification-dropdown-div .notification-dropdown-inner {
    position: absolute !important;
    top: 0px;
    width: 250px;
    padding-top: 63px;
    display: none; }
    @media only screen and (max-width: 991px) {
      .notification-dropdown-div .notification-dropdown-inner {
        padding-top: 55px; } }
    @media only screen and (max-width: 767px) {
      .notification-dropdown-div .notification-dropdown-inner {
        right: -40px; } }
  .notification-dropdown-div .notification-dropdown {
    list-style: none;
    width: 250px;
    padding: 0px !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
    background-color: white;
    border: none;
    z-index: 992;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn; }
    .notification-dropdown-div .notification-dropdown .notifications-header {
      padding: 20px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .notification-dropdown-div .notification-dropdown .notifications-header h1 {
        color: #172b4c;
        font-size: 18px;
        font-weight: 400; }
      .notification-dropdown-div .notification-dropdown .notifications-header button {
        font-size: 14px;
        color: #ee3158 !important; }
    .notification-dropdown-div .notification-dropdown li {
      border-top: 1px solid #f3f6f9;
      padding: 10px 15px;
      margin: 0px auto; }
      .notification-dropdown-div .notification-dropdown li:hover {
        background-color: #f6f6f6; }
      .notification-dropdown-div .notification-dropdown li a {
        display: flex;
        align-items: center !important; }
        .notification-dropdown-div .notification-dropdown li a p {
          width: 186px;
          overflow: hidden;
          white-space: nowrap;
          font-size: 14px;
          color: #5c607b;
          text-overflow: ellipsis; }
      .notification-dropdown-div .notification-dropdown li .see-all {
        font-size: 14px;
        padding: 5px 0px;
        text-align: center;
        border-radius: 0 0 4px 4px;
        line-height: 20px;
        display: block;
        width: auto;
        margin: 0;
        color: #808080; }

.dropdown-item {
  color: #808080 !important; }

.path-dark {
  fill: #5C607B !important; }

.path-light {
  fill: #CECFD7 !important; }
