.project-card {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #efeffd;
  padding: 15px 0px;
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 10px 20px;
    h2 {
      font-size: 16px;
      font-weight: 600;
      color: $secondry;
    }
   
    a {
      i {
        color: $gray;
        font-size: 18px;
        &:hover {
          color: $secondry;
          cursor: pointer;
        }
      }
    }
    .project-msg{
        position: relative;
        .project-msg-number{
            position: absolute;
            top: -5px;
            right: -5px;
            height: 14px;
            width: 14px;
            border-radius: 100%;
            background-color:$primary;
            font-size: 10px;
            color: white;
            text-align: center;
        }
    }
  }
  &-data {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: $light-skin;
    img {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      object-fit: cover;
    }
    h1 {
      font-size: 16px;
      font-weight: 500;
    }
    h3 {
      font-size: 14px;
      color: $gray;
    }
   
  }
  &-details {
    padding: 15px 20px 0px 20px;
    p {
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      color: $gray;
    }
    .paid{
        padding: 5px 20px !important;
        background-color: green;
        font-size: 14px;
        font-weight: 500;
        color: white;
        border: none;
        line-height: 14px !important; 
        height: 35px;
        border-radius: 5px;
        &:hover{
            background-color: rgb(1, 83, 1);
        }
    }
    .overdue{
        padding: 5px 20px !important;
        background-color: rgb(218, 4, 4);
        font-size: 14px;
        font-weight: 500;
        color: white;
        border: none;
        line-height: 14px !important; 
        height: 35px;
        border-radius: 5px;
        &:hover{
            background-color: rgb(153, 8, 8);
        }
    }
    i{
        color: $gray;
    }
    span{
        font-weight: 500;
        font-size: 16px;
        color: $gray;
    }
  }
}
.completed{
    color: green !important;
    i{
        color: green !important;
    }
    span{
        color: green !important;
    }
}